@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #fff;
  background-color: black;
  height: 100vh;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 30vh;
  border-bottom: 7px solid black;
}

main {
  height: 70vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 45vh;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 6vw;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #000000;
  color: #fff;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 3vw;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  width: 20%;
  height: 20%;
}

.guess {
  background: none;
  border: 2px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5vw;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.bttn {
  border: none;
  background-color: #000000;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}
